# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
OPENWEATHER_API_KEY=294cdb6d15471fc0b6736219e9d5d55c

# Build output
dist/
build/

# OS specific files
.DS_Store          # macOS
Thumbs.db         # Windows

# IDE specific files
.vscode/
.idea/

# Coverage directory used by tools like istanbul
coverage/