/* NEW STYLES BEGIN */

/* Main styles */
body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: url('../Images/etch-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

/** Canvas styles */
.canvasWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 30px solid #e80000;
  border-width: 30px 30px 70px 30px; /* Extra space for knobs */
  border-radius: 10px;
  width: 800px;
  height: 500px;
  background: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* canvas and knob shake */
.left-knob.shake,
.right-knob.shake,
canvas.shake {
  animation: shake 0.5s linear 1;
}

/* Knob styles */
.left-knob,
.right-knob {
  position: absolute;
  bottom: 118px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.left-knob {
  left: 40px; /* Position the left knob */
}

.right-knob {
  right: 40px; /* Position the right knob */
}

/* Button styling */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px 0px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  font-family: Helvetica, sans-serif;
  transition: transform 0.3s ease; /* Hover transitions */
}

.buttons:hover {
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* Shake animation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
