<%- include('../partials/head.ejs') %>
  <body>
    <header>
      <h1>Create New Post</h1>
      <a href="/">Back to Home</a>
    </header>
    <main>
      <form action="/create" method="POST">
        <input type="text" name="title" placeholder="Post Title" required />
        <textarea
          name="content"
          placeholder="Write your content here..."
          required
        ></textarea>
        <button type="submit">Create Post</button>
      </form>
    </main>
   <%- include('../partials/footer.ejs') %>
  </body>
</html>
